<div class="card">
    <div class="card-header">
        <span class="chip" title="Builder ID">{{builder_id}}</span> <span class="chip" title="Builder's working directory">{{builderDetails.path}}</span> <span class="chip" title="Builder's command and args">{{builderDetails.command}} {{builderDetails.args}}</span>
        <div class="custom-control custom-switch float-right" title="Toggle builder">
            <input class="custom-control-input" id="builderSwitch{{builder_id}}" data-toggle-builder="{{builder_id}}" type="checkbox" {{#if builderDetails.active}}checked{{/if}}>
            <span class="custom-control-track"></span>
            <label class="custom-control-label" for="builderSwitch{{builder_id}}"></label>
        </div>

    </div>
</div>
