<div class="card">
    <div class="card-header">
        {{builder_id}}

        <div class="custom-control custom-switch float-right" title="Toggle builder">
            <input class="custom-control-input" id="builderSwitch{{builder_id}}" data-toggle-builder="{{builder_id}}" type="checkbox" {{#if builderDetails.active}}checked{{/if}}>
            <span class="custom-control-track"></span>
            <label class="custom-control-label" for="builderSwitch{{builder_id}}"></label>
        </div>

    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td width="20%">Path</td>
                <td><span class="font-weight-bold">{{builderDetails.path}}</span></td>
            </tr>
            <tr>{{log builderDetails}}
                <td width="20%">Command</td>
                <td><span class="font-weight-bold">{{builderDetails.command}}</span></td>
            </tr>
            <tr>{{log builderDetails}}
                <td width="20%">Arguments</td>
                <td><span class="font-weight-bold">{{builderDetails.args}}</span></td>
            </tr>
            <tr>{{log builderDetails}}
                <td width="20%">State</td>
                <td><span class="font-weight-bold">{{#if builderDetails.active}}<span id="stateLabel{{builder_id}}" class="text-success">Online</span>{{else}}<span id="stateLabel{{builder_id}}" class="text-danger">Offline</span>{{/if}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
